body {
    margin: 0;
}

.pub-card{
    display : flex;
    padding: 30px;
    border: 1px solid black;
    margin: 50px;
    justify-content : space-around;
}

.pub-card img{
    max-width: 400px;
}

.pub-card-big {
    padding: 30px;
    border: 1px solid black;
    margin: 50px;
    justify-content : space-around;
}

.pub-card-big img {
    max-width : 100%;
}

.task-card {
        border: 2px solid black;
        margin: 7px;
        padding: 15px;
        border-radius : 25px;
        width: 90%;
}

.progression-column{
    width: 100%;
    margin: 0;
}

.date-category{
    justify-content: space-between;
}

