<!doctype html>
<html lang="fr"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = "layout">

<head>
    <meta charset="utf-8">
    <title>Créer une nouvelle tâche</title>
</head>

<body>
<div layout:fragment="content">
    <div class="col-md-4 col-xs-8">
        <div class="pannel-heading" >Créer une nouvelle tâche</div>
        <div class="pannel-body" >
            <form th:action="@{/save}" method="post">
                <div class="form-group">
                    <label class="control-label"> Name</label>
                    <input class="form-control" type="text" name="name" th:value="${task.name}">
                    <span th:errors="${task.name}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label"> Date</label>
                    <input class="form-control" type="date" name="date" th:value="${task.date}">
                    <span th:errors="${task.date}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label"> Description</label>
                    <input class="form-control" type="text" name="description" th:value="${task.description}">
                    <span th:errors="${task.description}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label"> Price</label>
                    <input class="form-control" type="number" name="price" th:value="${task.price}">
                    <span th:errors="${task.price}" class="text-danger"></span>
                </div>

                <!--                    Change category to display choices from existing category-->
                <!--                        ex : select + option-->
                <select name="category">
                    <option th:each="i : ${category_list}" th:value="${i.id}" th:text="${i.name}">
                    </option>
                </select>

<!--                Hide the progression choice : put "To do" by default-->
                <input type="hidden" name="progression" th:value="To do">


                <button type="submit">Submit</button>
            </form>

        </div>

    </div>

</div>
</body>


</html>