<!doctype html>
<html lang="fr"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = "layout">

<head>
    <meta charset="utf-8">
    <title>Todo List</title>
</head>

<body>
<div layout:fragment="content">
    <div class="col-md-4 col-xs-8">
        <div class="pannel-body" >
            <h1>This is homepage</h1>

        </div>

    </div>
    <div class="pub-card">
        <h3>Créez une tâche à réaliser</h3>
        <img th:src="@{/img/creer_tache.png}" alt="Créer une tâche">
    </div>
    <div class="pub-card-big">
        <h3>Consultez votre liste de tâche</h3>
        <img th:src="@{/img/consulter_tache.png}" alt="Consulter une tâche">

    </div>
    <div class="pub-card">
        <h3>Modifiez l'état de vos tâches</h3>
        <img th:src="@{/img/progress_tache.png}" alt="Progression d'une tâche">

    </div>
    <div class="pub-card">
        <h3>Modifiez vos tâches</h3>
        <img th:src="@{/img/modifier_tache.png}" alt="Modifier une tâche">
    </div>

</div>
</body>


</html>