<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="utf-8">
    <title>Spring Shop</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/style.css"
          th:href="@{css/style.css}">

</head>

<body>
<div layout:fragment="content">

    <div class="container">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Affichage par progression</label>
        </div>

<!--        MAIN VIEW-->
        <div class="panel panel-primary">
            <div class="panel-heading">Task par categories</div>

            <div class="panel-body">
                <ul class="d-flex cat-button">
                    <li>
                        <a class="btn btn-primary" th:href="@{'/my_tasks'(page=0, category=0, keyword=${keyword})}">
                            Toutes categories
                        </a>
                    </li>

                    <li class="btn btn-outline-primary" th:each="a : ${category_list}">
                        <a th:href="@{'/my_tasks'(page=${currentPage}, category=${a.id}, keyword=${keyword})}"
                           th:text="${a.name}"></a>
                    </li>

                </ul>



            </div>

            <div class="panel-body">
                <form th:action="@{/my_tasks}" method="get">
                    <label>
                        Rechercher
                        <input type="text" name="keyword" th:value="${keyword}">
                    </label>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Progression</th>


                    </tr>
                    <tr th:each="a:${listTasks}">
                        <td th:text="${a.id}"></td>
                        <td >
                            <a th:text="${a.name}" th:href="@{/edit_task/{id}(id=${a.id})}">

                            </a>
                        </td>
                        <td th:text="${a.date}"></td>
                        <td th:text="${a.description}"></td>
                        <td th:text="${a.category.name}"></td>
                        <td>
                            <form th:action="@{'/update_progression/' + ${a.id}}" method="post">
                                <select name="progressionId" onchange="this.form.submit()">
                                    <option th:each="i : ${progressions}"
                                            th:value="${i.id}"
                                            th:text="${i.name}"
                                            th:selected="${a.progression != null and i.id == a.progression.id}">
                                    </option>
                                </select>
                            </form>
                        </td>
                        <td style="white-space: nowrap; width: 1%;">
                            <a class="btn btn-danger"
                               th:href="@{/delete(id=${a.id}, page=${currentPage}, keyword=${keyword})}">
                                <i class="bi bi-trash3"></i>
                                Delete
                            </a>
                        </td>


                    </tr>
                </table>

                <ul class="nav nav-pills">
                    <li th:each="page, status : ${pages}"
                        th:class="${currentPage == status.index} ? 'active'">
                        <a th:href="@{/my_tasks(page=${status.index},keyword=${keyword}, category=${category})}"
                           th:text="${status.index + 1}" ></a>
                    </li>
                </ul>


            </div>
        </div>

<!--        ALTERNATE VIEW-->
        <div class="progression-display ">
            <h4>Affichage par progression</h4>
            <div class="progression-content d-flex">
                <div class="display-to-do">
                    <h5>A faire</h5>
                </div>

                <div class="display-in-progress">
                    <h5>En cours</h5>

                </div>

                <div class="display-done">
                    <h5>Finis</h5>

                </div>

            </div>


        </div>


    </div>
</div>
</body>
</html>